<nav
    id="time-nav"
    class="navbar navbar-sm navbar-fixed-top navbar-default"
    data-magellan-expedition="fixed"
    >
    <ul
        class="
            nav navbar-nav
            sub-nav"
        role="navigation"
        >
        {{#each this.times}}
        <li
            class="{{#if @first}}active{{/if}}"
            data-magellan-arrival="time-{{@index}}"
            >
            <a href="#time-{{@index}}">
                {{this.shortLabel}}
            </a>
        </li>
        {{/each}}
    </ul>
</nav>
 <dl
    id="session-list-{{@index}}"
    class="
        session-list
        panel-group
        accordion"
    data-accordion
    >
{{#each this.times}}
    <a
        id="time-{{@index}}"
        class="time-break"
        ></a>
    <h3
        data-magellan-destination="time-{{@index}}"
        >
        {{this.label}}
    </h3>
    {{#each this.sessions}}
    {{#include parent=../..}}
        {{>session}}
    {{/include}}
    {{/each}}
{{/each}}
</dl>
