<nav
    id="time-nav"
    class="navbar navbar-fixed-top navbar-default"
    data-magellan-expedition="fixed"
    >
    <ul
        class="
            nav navbar-nav
            sub-nav"
        role="navigation"
        >
        {{#each this.times}}
        <li
            class="{{#if @first}}active{{/if}}"
            data-magellan-arrival="time-{{@index}}"
            >
            <a href="#time-{{@index}}">
                {{this.label}}
            </a>
        </li>
        {{/each}}
    </ul>
</nav>
<dl
    class="accordion"
    data-accordion
    >
{{#each this.times}}
    <a id="time-{{@index}}"></a>
    <h3
        data-magellan-destination="time-{{@index}}"
        >
        {{this.label}}
    </h3>
    {{#each this.sessions}}
    <dd
        class="session"
        data-id="{{this.id}}"
        data-start="{{this.start}}"
        data-duration="{{this.duration}}"
        data-room="{{this.roomId}}"
            >
            {{>session}}
    </dd>
    {{/each}}
{{/each}}
</dl>
