<div data-magellan-expedition="fixed">
    <dl class="sub-nav">
        {{#each this.times}}
        <dd data-magellan-arrival="arrival-{{@index}}">
            <a href="#arrival-{{@index}}">{{this.label}}</a>
        </dd>
        {{/each}}
    </dl>
</div>


<dl class="accordion" data-accordion>
{{#each this.times}}
    <a name="arrival-{{@index}}"></a>
    <h3 data-magellan-destination="arrival-{{@index}}">{{this.label}}</h3>
    {{#each this.sessions}}
        <dd
    data-id="{{this.id}}"
    data-start="{{this.start}}"
    data-duration="{{this.duration}}"
    data-room="{{this.roomId}}"
        >
            {{>session}}
        </dd>
    {{/each}}
{{/each}}
</dl>
