{{#each schedule.days ~}}<div
    id="day-{{@index}}"
    class="
        day
        {{#if @last}}
        last
        {{/if}}
        "
    >
    <h2 class="day-title">
        {{this.shortLabel}}
    </h2>
    <table
        class="table table-bordered">
        <thead>
            <tr>
                <td>Salas</td>
                {{#each this.times}}
                <td colspan="{{this.colspan}}">
                    {{this.label}}
                </td>
                {{/each}}
            </tr>
        </thead>
        <tbody>
        {{#each this.rooms}}
            <tr>
                <td class="room-name-cell">
                    {{this.roomName}}
                </td>
                {{#is this.sessions.length '<' 1}}
                    <td class="empty" colspan="{{../../maxColspan}}"></td>
                {{/is}}
                {{#each this.sessions}}
                    {{#if @first}}
                        {{#if this.intervalBeforeColspan }}
                            <td class="empty" colspan="{{this.intervalBeforeColspan}}"></td>
                        {{/if}}
                    {{/if}}
                    {{>session session_tag="td"}}
                    {{#if this.intervalAfterColspan }}
                        <td class="empty" colspan="{{this.intervalAfterColspan}}"></td>
                    {{/if}}
                {{/each}}
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>{{~/each}}
