<{{session_tag}}
    id="session-{{this.id}}"
    class="
        session
        list-group-item
    "
    data-id="{{this.id}}"
    data-start="{{this.start}}"
    data-duration="{{this.duration}}"
    data-room="{{this.roomID}}"
    data-zone="{{this.zoneID}}"
    data-area="{{this.areaID}}"
    {{#is session_tag 'td'}}
        colspan="{{durationColspan}}"
    {{/is}}
    >
    <dt>
        <h4 class="session-title">
            <a
                href="#session-info-{{this.id}}"
                class="session-title-link collapsed"
                data-toggle="collapse"
                data-parent="#day-{{dayIndex}}"
                >
                <span
                    class="collapse-caret"
                    ></span>
                {{this.title}}
            </a>
        </h4>
        <button
            class="bookmark-button btn"
            type="button"
            >
            <span
                class="icon"></span>
        </button>
    </dt>
    <dd
        id="session-info-{{this.id}}"
        class="session-info collapse"
        >
        <h5 class="area-{{this.areaID}}">
            <span class="zone-name">
            {{#withItem @root.schedule.zones key=this.zoneID}}
                {{this.name}}
            {{/withItem}}
            </span>
             >
            <span class="area-name">
            {{#withItem @root.schedule.areas key=this.areaID}}
                {{this.name}}
            {{/withItem}}
            </span>
        </h5>
        <p class="session-time-text">
            das {{formatDate this.start "HH:MM"}} às
            {{formatEndDate this.start this.duration "HH:MM"}}
            — <span class="time-icon"></span> {{this.duration}} min
        </p>
        <p class="session-abstract panel-body">
            {{this.abstract}}
        </p>
        <ul class="nav nav-pills">
            <li>
                <a class="room-link" href="#">
                    <span class="place-icon"></span>
                    {{#withItem @root.schedule.rooms key=this.roomID}}
                        {{this.name}}
                    {{/withItem}}
                </a>
            </li>
            <li>
                <a class="calendar-add-button" href="#">
                    <span class="calendar-add-icon"></span>
                    Add to calendar
                </a>
            </li>
        </ul>
        {{#withItem @root.schedule.presenters key=this.id}}
        {{#if this.length}}
        <h5>
            Apresentação
        </h5>
        <ul>
        {{#each this}}
            <li class="author {{#if this.main}}main{{/if}}">
                <span href="#" class="author-link" data-id="{{this.id}}">
                    <span class="author-icon"></span>
                    <span class="author-name">
                        {{this.name}}
                    </span>
                </span>
            </li>
        {{/each}}
        </ul>
        {{/if}}
        {{/withItem}}
    </dd>
</{{session_tag}}>
