<{{session_tag}}
    id="session-{{this.id}}"
    class="
        session
        list-group-item
    "
    data-id="{{this.id}}"
    data-start="{{this.start}}"
    data-duration="{{this.duration}}"
    data-room="{{this.roomId}}"
    {{#is session_tag 'td'}}
        colspan="{{this.durationColspan}}"
    {{/is}}
    >
    <dt>
        <h4 class="session-title">
            <a
                href="#session-info-{{this.id}}"
                class="session-title-link collapsed"
                data-toggle="collapse"
                data-parent="#day-{{dayIndex}}"
                >
                <span
                    class="collapse-caret"
                    ></span>
                {{this.title}}
            </a>
        </h4>
        <button
            class="bookmark-button btn"
            type="button"
            >
            <span
                class="icon"></span>
        </button>
    </dt>
    <dd
        id="session-info-{{this.id}}"
        class="session-info collapse"
        >
        <p class="session-abstract panel-body">
            {{this.abstract}}
        </p>

        <ul class="nav nav-pills">
            <li>
                <a class="room-link" href="#">
                    <span class="place-icon"></span>
                    {{this.roomName}}
                </a>
            </li>
            <li>
                <a class="calendar-add-button" href="#">
                    <span class="calendar-add-icon"></span>
                    Add to calendar
                </a>
            </li>
        {{#each this.authors}}
            <li>
                <a href="#" class="author-link">
                    <span class="author-icon"></span>
                    {{this.name}}
                </a>
            </li>
        {{/each}}
        </ul>
    </dd>
</{{session_tag}}>
