<li
    data-id="{{this.id}}"
    data-start="{{this.start}}"
    data-duration="{{this.duration}}"
    data-room="{{this.roomId}}"
>
    <h3 class="session-title">{{this.title}}</h3>
    <p class="session-abstract">{{this.abstract}}</p>
    <small>
        <a
            class="calendar-add-button"
            href="#"
        >
            {{this.start}}
        </a>
    </small>
</li>