    <a
        href="#session-info-{{this.id}}"
        class="
            session session-title
            list-group-item
            "
        data-id="{{this.id}}"
        data-start="{{this.start}}"
        data-duration="{{this.duration}}"
        data-room="{{this.roomId}}"
        data-toggle="collapse"
        data-parent="#sessionList-day-{{dayIndex}}"
        >
        {{this.title}}
    </a>
    <div
        id="session-info-{{this.id}}"
        class="
            panel-collapse collapse
            "
        >
        <p class="session-abstract">
            {{this.abstract}}
        </p>
        {{#if this.authors}}
            <h4>Autores</h4>
            {{#each this.authors}}
                <span
                    class="
                        label-default"
                    >
                    {{this.name}}
                </span>
            {{/each}}
        {{/if}}
        <p>
            <a
                class="calendar-add-button"
                href="#"
            >
                Add to calendar
            </a>
        </p>
        <span
            class="
                label-default"
            >
            {{this.roomName}}
        </span>
    </div>
