<div class="
        session
        list-group-item
    "
    data-id="{{this.id}}"
    data-start="{{this.start}}"
    data-duration="{{this.duration}}"
    data-room="{{this.roomId}}"
    >
    <dt>
        <a
            href="#session-info-{{this.id}}"
            class="session-title"
            data-toggle="collapse"
            data-parent="#sessionList-day-{{dayIndex}}"
            >
            {{this.title}}
        </a>
    </dt>
    <dd
        id="session-info-{{this.id}}"
        class="collapse"
        >
        <p class="session-abstract">
            {{this.abstract}}
        </p>
        {{#if this.authors}}
            <h4>Autores</h4>
            {{#each this.authors}}
                <span class="label-default">
                    {{this.name}}
                </span>
            {{/each}}
        {{/if}}
        <p>
            <a
                class="calendar-add-button"
                href="#"
            >
                Add to calendar
            </a>
        </p>
        <span
            class="label-default">
            {{this.roomName}}
        </span>
    </dd>
</div>
