<!DOCTYPE html>
<html {{#if lang}}lang="{{lang}}"{{/if}}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0{{#if prevent-scale}}, maximum-scale=1, user-scalable=no{{/if}}">
        <meta name="apple-mobile-web-app-capable" content="yes" />
         {{#if css}}
            {{#each css}}
                <link rel="stylesheet" type="text/css" href="{{this}}" />
            {{/each}}
        {{else}}
            <link rel="stylesheet" type="text/css" href="css/index.css" />
        {{/if}}
        <title>{{title}}</title>
    </head>
    <body class="{{body_classes}}">
        {{>body}}
        {{#if localForageConfig}}
        <script>
{{{localForageConfig}}}
        </script>
        {{/if}}
        {{#if js}}
            {{#each js}}
                <script type="text/javascript" src="{{this}}"></script>
            {{/each}}
        {{/if}}
    </body>
</html>
